In [1]:
import pandas as pd

### essa é a tabela ja tratada que bruno fez, ele apafou as primeiras linhas que eram inuteis ai conseguiu gerar um dataframe que fisesse sentido porque depois de converter pra formato csv ele fica com uma formatação incorreta apresentando varios erros

#### o metodo que bruno usou pra fazer a formatação correta foi converter a planilha pro formato csv, depois ele observou que como a planilha ta estruturada, apos a converção isso fazia com que varias linhas e colunas fossem clonadas, então ele apafou as linhas clonadas, que no caso eram as primeiras, não lemrbo bem se eram 4 ou 5.

#### apos isso o dataframe ja fica nesse formato mais correto e o proximo passo e cortar as partes que são interessante. no caso desse datrafreme seria o caso que recortar as primeiras 6 colunas porque elas tem informações importantes como o Ano, Região,UD, Codigo do Municipio, Nome do municipio, Localização. Essas colunas recortadas seriam salvas em um novo dataframe. apos isso deveriaam ser recortadas as colunas que representavam os dados relacionados à taxa de abandono, esse recorte seria salvo em um outro dataframe.

#### apos essa etapa os dois datafremes que contem as partes resortadas deveriam ser unidos criando um dataframe que contem os dados que a gente realmente vai usar.

#### ainda não fiz essa parte 

______________________________________________________________________________________________________________________________________________________________________________________________

###  * Conversor da tabela do tipo xlsx para o tipo csv

In [50]:
# Carregar a planilha ignorando estilos
df = pd.read_excel("planilhasTaxaMunicipuos/tx_rend_municipios_2022.xlsx", sheet_name=0, engine="openpyxl",skiprows=3)
# Renomear colunas removendo Unnamed
df.columns = df.iloc[0]  # Definir a primeira linha como cabeçalho
# Garantir que os nomes das colunas sejam strings
df.columns = df.columns.astype(str)

# Remover colunas que têm "Unnamed"
df = df.loc[:, ~df.columns.str.contains("^Unnamed")]

df = df[1:].reset_index(drop=True)  # Remover a linha duplicada e resetar o índice
df.fillna(method="ffill", inplace=True)
df.to_csv("dados_limpos2022.csv", index=False, encoding="utf-8")

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_7284\4280511605.py:12: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", inplace=True)

### Código para transformar xls em csv

In [27]:
# Nome do arquivo de entrada (XLS/XLSX) e saída (CSV)
arquivo_excel = 'tx_rendimento_municipios_2011.xls'  # ou 'planilha.xls'
arquivo_csv = 'dados_limpos2011.csv'


# Ler o arquivo Excel
# Para .xls use: pd.read_excel(arquivo_excel, engine='xlrd')
dados = pd.read_excel(arquivo_excel, engine='xlrd')


# Converter para CSV
dados.to_csv(arquivo_csv, index=False, encoding='utf-8')


print(f'Arquivo {arquivo_excel} convertido para {arquivo_csv} com sucesso!')

Arquivo tx_rendimento_municipios_2011.xls convertido para dados_limpos2011.csv com sucesso!

### essa parte eu não sei se precisa aplicar porque é o tratamento que eu tava usando mas se não me engano bruno fez na mão apagando as linhas inuteis direto da tabela

In [3]:
df3 = pd.read_csv("dadosLimpos/dados_limpos2013.csv")  # Pulando as 3 primeiras linhas descritivas

df3

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_8700\1984165564.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv("dadosLimpos/dados_limpos2013.csv")  # Pulando as 3 primeiras linhas descritivas

,Ano,Região,UF,Código do Município,Nome do Município,Localização,Rede,Total Aprovação no Ens. Fundamental,Aprovação - Anos Iniciais (1º ao 5º Ano),Aprovação - Anos Finais (6º ao 9º Ano),...,Abandono no 6º Ano,Abandono no 7º Ano,Abandono no 8º Ano,Abandono no 9º Ano,Total Abandono no Ens. Médio,Abandono na 1ª série,Abandono na 2ª série,Abandono na 3ª série,Abandono na 4ª série,Total Abandono Médio Não-Seriado
0,2013,Norte,RO,1100015,ALTA FLORESTA D OESTE,Total,Total,86,89.3,81.9,...,4.7,10.4,6.5,4.8,11.1,16.6,8.4,5.8,--,--
1,2013,Norte,RO,1100015,ALTA FLORESTA D OESTE,Total,Publico,85.9,89.2,81.9,...,4.7,10.4,6.5,4.8,11.1,16.6,8.4,5.8,--,--
2,2013,Norte,RO,1100015,ALTA FLORESTA D OESTE,Total,Privada,100,100,--,...,--,--,--,--,--,--,--,--,--,--
3,2013,Norte,RO,1100015,ALTA FLORESTA D OESTE,Total,Municipal,87,90.5,81.3,...,9.2,12.4,6.4,6.1,--,--,--,--,--,--
4,2013,Norte,RO,1100015,ALTA FLORESTA D OESTE,Total,Estadual,84.9,87.7,82.2,...,2.1,9.5,6.6,4,11.1,16.6,8.4,5.8,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65652,2013,Centro_Oeste,DF,5300108,BRASILIA,Urbana,Estadual,86.5,92.9,79.4,...,3.2,2.5,2.4,2.8,7.5,10.1,6.1,4,--,--
65653,Fonte: MEC/INEP/DEED/CSI.,Centro_Oeste,DF,5300108,BRASILIA,Urbana,Estadual,86.5,92.9,79.4,...,3.2,2.5,2.4,2.8,7.5,10.1,6.1,4,--,--
65654,"Notas: 1) Inclui as taxas de aprovação, r...",Centro_Oeste,DF,5300108,BRASILIA,Urbana,Estadual,86.5,92.9,79.4,...,3.2,2.5,2.4,2.8,7.5,10.1,6.1,4,--,--
65655,2) Inclui as taxas do Ensino F...,Centro_Oeste,DF,5300108,BRASILIA,Urbana,Estadual,86.5,92.9,79.4,...,3.2,2.5,2.4,2.8,7.5,10.1,6.1,4,--,--
65656,"3) ""taxas de rendimento escola...",Centro_Oeste,DF,5300108,BRASILIA,Urbana,Estadual,86.5,92.9,79.4,...,3.2,2.5,2.4,2.8,7.5,10.1,6.1,4,--,--

In [ ]:
df2 = pd.read_csv("dadosLimpos/dados_limpos2023.csv")
df_2023= df2.iloc[:,[0,1,2,3,4,5,43,55]]
df_2023.to_csv("dadosTratados2023.csv", sep=",", index=False)
df_2023

### Convertendo dados do bolsa família em csv

In [ ]:
import requests
import time
from urllib.parse import urlencode
#"https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2015*&fq=tipo_s:mes_mu&indent=on&q=*:*&wt=json&rows=10000000&sort=codigo_ibge%20asc,%20anomes_s%20asc&fl=ibge:codigo_ibge,siglauf:sigla_uf,anomes:anomes_s,qtd_ben_bas:tot_ben_bas_i,qtd_ben_var:tot_ben_bas_var_i,qtd_ben_bvj:tot_ben_bvj_i,qtd_ben_bvn:tot_ben_bvn_i,qtd_ben_bvg:tot_ben_bvg_i,qtd_ben_bsp:tot_ben_bsp_i"

### Dados de forma EXTREMAMENTE complexa e estranhamente organizados sendo transformados em csv

In [22]:
def fetch_all_data():
    base_url = "https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2015*&fq=tipo_s:mes_mu&indent=on&q=*:*&wt=json&rows=10000000&sort=codigo_ibge%20asc,%20anomes_s%20asc&fl=ibge:codigo_ibge,siglauf:sigla_uf,anomes:anomes_s,qtd_ben_bas:tot_ben_bas_i,qtd_ben_var:tot_ben_bas_var_i,qtd_ben_bvj:tot_ben_bvj_i,qtd_ben_bvn:tot_ben_bvn_i,qtd_ben_bvg:tot_ben_bvg_i,qtd_ben_bsp:tot_ben_bsp_i"
    params = {
        'fq': ['anomes_s:2015*', 'tipo_s:mes_mu'],
        'q': '*:*',
        'wt': 'json',
        'sort': 'codigo_ibge asc, anomes_s asc',
        'fl': 'ibge:codigo_ibge,siglauf:sigla_uf,anomes:anomes_s,qtd_ben_bas:tot_ben_bas_i,qtd_ben_var:tot_ben_bas_var_i,qtd_ben_bvj:tot_ben_bvj_i,qtd_ben_bvn:tot_ben_bvn_i,qtd_ben_bvg:tot_ben_bvg_i,qtd_ben_bsp:tot_ben_bsp_i',
        'rows': 10000,
    }
    
    all_docs = []
    start = 0
    
    while True:
        params['start'] = start
        print(f"Baixando registros {start + 1} a {start + params['rows']}...")
        
        response = requests.get(base_url, params=urlencode(params, doseq=True))
        data = response.json()
        docs = data.get('response', {}).get('docs', [])
        
        if not docs:
            break
        
        all_docs.extend(docs)
        start += params['rows']
    
    return all_docs

def save_to_csv(data):
    df = pd.DataFrame(data)
    
    # Renomeia colunas
    df.rename(columns={
        'ibge': 'codigo_ibge',
        'siglauf': 'sigla_uf',
        'anomes': 'ano_mes',
        'qtd_ben_bas': 'beneficios_basicos',
        'qtd_ben_var': 'beneficios_variaveis',
        'qtd_ben_bvj': 'bolsa_verde_jovem',
        'qtd_ben_bvn': 'bolsa_verde_nutricao',
        'qtd_ben_bvg': 'bolsa_verde_geral',
        'qtd_ben_bsp': 'beneficios_superacao'
    }, inplace=True)
    
    # Verifica e remove duplicatas
    if df.duplicated(subset=['codigo_ibge', 'ano_mes']).any():
        df = df.drop_duplicates(subset=['codigo_ibge', 'ano_mes'])
    
    df.to_csv('beneficios_sociais_sem_duplicatas_2015.csv', index=False)
    print(f"✅ CSV salvo com {len(df)} registros únicos!")

if __name__ == "__main__":
    data = fetch_all_data()
    save_to_csv(data)

Baixando registros 1 a 10000...
Baixando registros 10001 a 20000...
Baixando registros 20001 a 30000...
Baixando registros 30001 a 40000...
Baixando registros 40001 a 50000...
Baixando registros 50001 a 60000...
Baixando registros 60001 a 70000...
Baixando registros 70001 a 80000...
✅ CSV salvo com 66840 registros únicos!

### Dados mais simplesmente organizados sendo transformados em csv

In [ ]:
#ibge,anomes,qtd_familias_beneficiarias_bolsa_familia,valor_repassado_bolsa_familia
#codigo_ibge,anomes_s,qtd_familias_beneficiarias_bolsa_familia_s,valor_repassado_bolsa_familia_s,pbf_vlr_medio_benef_f

url = "https://aplicacoes.mds.gov.br/sagi/servicos/misocial/?fq=anomes_s:2023*&fl=codigo_ibge%2Canomes_s%2Cqtd_familias_beneficiarias_bolsa_familia_s%2Cvalor_repassado_bolsa_familia_s%2Cpbf_vlr_medio_benef_f&fq=valor_repassado_bolsa_familia_s%3A*&q=*%3A*&rows=100000&sort=anomes_s%20desc%2C%20codigo_ibge%20asc&wt=csv"

# Carregar os dados diretamente no pandas
dados_bf = pd.read_csv(url, encoding='latin1', sep=';')

# Salvar como CSV local
dados_bf.to_csv('valorRepassado_familia_2023.csv', index=False, encoding='utf-8-sig')

print("Arquivo salvo com sucesso!")

dados = pd.read_csv('valorRepassado_familia_2023.csv', sep=';', encoding='latin1')

# Remove aspas de todas as colunas (opcional, só se necessário)
dados = dados.replace({'"': ''}, regex=True)

# Salva o arquivo corrigido (sem aspas)
dados.to_csv('valorRepassado_familia_2023.csv', index=False, sep=';', encoding='utf-8-sig')

print("Arquivo corrigido salvo sem aspas!")

Arquivo salvo com sucesso!
Arquivo corrigido salvo sem aspas!

In [49]:
#"https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2014*&fq=tipo_s:mes_mu&indent=on&q=*:*&wt=json&rows=10000000&sort=codigo_ibge%20asc,%20anomes_s%20asc&fl=ibge:codigo_ibge,siglauf:sigla_uf,anomes:anomes_s,qtd_ben_bas:tot_ben_bas_i,qtd_ben_var:tot_ben_bas_var_i,qtd_ben_bvj:tot_ben_bvj_i,qtd_ben_bvn:tot_ben_bvn_i,qtd_ben_bvg:tot_ben_bvg_i,qtd_ben_bsp:tot_ben_bsp_i"
bfml = pd.read_csv("valorRepassado_familia_2023.csv")
bfml

,codigo_ibge,anomes_s,qtd_familias_beneficiarias_bolsa_familia_s,valor_repassado_bolsa_familia_s,pbf_vlr_medio_benef_f
0,110001,202312,1724,1179011.0,685.47
1,110002,202312,6718,4569752.0,681.14
2,110003,202312,326,217310.0,666.60
3,110004,202312,5921,4008414.0,677.21
4,110005,202312,1123,800852.0,713.14
...,...,...,...,...,...
55695,522200,202303,921,642883.0,698.79
55696,522205,202303,717,493145.0,691.65
55697,522220,202303,665,452464.0,680.40
55698,522230,202303,749,495736.0,661.86
55699,530010,202303,171957,117755453.0,685.56

In [ ]:

# Carregar o arquivo original (ajuste o caminho e o encoding conforme necessário)
# Exemplo se o arquivo estiver em CSV:
caminho_arquivo = 'microdados_ed_basica_2008.csv'
df = pd.read_csv(caminho_arquivo, sep=';', encoding='latin-1')

# Selecionar as colunas desejadas
colunas_selecionadas = [
    'CO_MUNICIPIO',  # Código IBGE do município
    'NO_UF',         # Nome do estado
    'NO_MUNICIPIO',  # Nome do município
    'QT_MAT_BAS',    # Total de matrículas no Ensino Básico
    'QT_MAT_INF',    # Matrículas na Educação Infantil
    'QT_MAT_MED',    # Matrículas no Ensino Médio
    'QT_MAT_EJA'     # Matrículas na EJA
]

# Criar um novo DataFrame apenas com as colunas selecionadas
df_filtrado = df[colunas_selecionadas].copy()

# Salvar como um novo arquivo CSV (sem índices)
df_filtrado.to_csv('matriculas_por_municipio_2008.csv', index=False, encoding='utf-8-sig')

print("Arquivo 'matriculas_por_municipio_2008.csv' gerado com sucesso!")

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_11124\924009613.py:4: DtypeWarning: Columns (25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_arquivo, sep=';', encoding='latin-1')

Arquivo 'matriculas_por_municipio_2008.csv' gerado com sucesso!

In [6]:
# Configurações
caminho_entrada = 'microdados_ed_basica_2010.csv'  # Substitua pelo caminho do seu arquivo
caminho_saida = 'matriculas_por_municipio_2010.csv'
colunas_selecionadas = [
    'CO_MUNICIPIO', 
    'NO_UF', 
    'NO_MUNICIPIO', 
    'QT_MAT_BAS', 
    'QT_MAT_INF', 
    'QT_MAT_MED', 
    'QT_MAT_EJA'
]

# Tamanho do chunk (ajuste conforme sua RAM)
# Exemplo: 100.000 linhas por chunk (reduza se ainda houver lentidão)
chunksize = 100000  

# Lista para armazenar os chunks processados
chunks_processados = []

# Ler o arquivo em chunks
for chunk in pd.read_csv(
    caminho_entrada, 
    sep=';', 
    encoding='latin-1', 
    chunksize=chunksize,
    usecols=colunas_selecionadas  # Lê apenas as colunas necessárias
):
    # Filtre ou processe o chunk aqui (se necessário)
    chunks_processados.append(chunk)

# Concatenar todos os chunks em um único DataFrame
df_final = pd.concat(chunks_processados, axis=0)

# Salvar o resultado em um novo CSV
df_final.to_csv(caminho_saida, index=False, encoding='utf-8-sig')

print(f"Arquivo '{caminho_saida}' gerado com sucesso!")

Arquivo 'matriculas_por_municipio_2010.csv' gerado com sucesso!